#search-form-input
{
    margin-top: 30px;
}

#navigation
{
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}


h1
{
    font-family: 'Poiret One', cursive;
    color: #e9482b !important;
}
.carousel-inner img
{
    height: 100px;!important;
}

.test-design
{
    background-color: darkgrey;
    height: 100px;
}

hr
{
    display: inline-block;
    width: 40%;
}