#search-form-input
{
    margin-top: 30px;
}
#main-image
{
    background-image: url("https://pp.vk.me/c636417/v636417697/20004/_8KZYcQqdY4.jpg");
    background-size: cover;
    height: 500px;
    margin-bottom: 0;

}

#navigation
{
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

#search-form
{
    position: relative;
    opacity: 0.8;
    height: 100px;
    background-color: rgba(0,0,0,0.6);
    margin-top: 264px;
}
h1
{
    font-family: 'Poiret One', cursive;
    color: #e9482b !important;
}