<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Personal information</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<script>
    $(document).ready(function ()
    {
        $('.edit-info').on("click", function (event)
        {
            var fullName = $(this).parent().find('.full-name').val();
            var birthday = $(this).parent().find('.birthday').val();
            var city = $(this).parent().find('.city').val();
            var country = $(this).parent().find('.country').val();
            var description = $(this).parent().find('.description').val();
            var userId = $(this).val();
            var data = {
                "fulName":fullName,
                "birthday":birthday,
                "city":city,
                "country":country,
                "description":description,
                "userId":userId
            };
            $.ajax({
                url:"/account/save-user-details",
                data:data

            });
        });


    })

</script>
<div>
    <input value="{{ user_details.full_name }}" class="full-name">
    <input value="{{ user_details.birthday }}" class="birthday">
    <input value="{{ user_details.city }}" class="city">
    <input value="{{ user_details.country }}" class="country">
    <input value="{{ user_details.description }}" class="description">
    <button class="edit-info" value="{{ user_details.user_id }}">Save</button>
</div>
</body>
</html>