{% extends "main.html" %}
{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}

<body>
    <form action="/login_form" method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="email">User name:</label>
            <input type="text" class="form-control" id="email" name="login_field" >
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd_field" >
        </div>
        <button type="submit" class="btn btn-default" name="action" value="login">Login</button>
    </form>

</body>
{% endblock %}